* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
}

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

nav {
    float: left;
    width: 70%;
    height: 600px;
    background: white;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 20%;
    background-color: #f1f1f1;
    height: 300px;
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    clear: both;
}

a {
    padding: 10px;
}

.noticia {
    padding: 10px;
    background-color: aqua;
    height: 200px;
    width: 95%;
}

.title-content {
    background-color: blueviolet;
    width: 60%;
    height: 98%;
    float: left;
}

.title-content h5 {
    color: coral;
}

.title-content p {
    font-size: large;
}

.img-content {
    margin-left: 50px;
    background-color: brown;
    float: left;
    height: 98%;
}

.img-content img {
    width: 110%;
}

li {
    border-bottom: lightgray 1px solid;
}